@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* These are beautiful colors */
body {
  background: #D4E7EA;

  font-family: 'Montserrat'
}

.lane {
  display: inline-block;
  box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.75);

  margin: 1em;

  background-color: #ffffff;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.lane-border {
  background-color: #00b2e2;
  height: 5px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.lane-header {
  overflow: auto;
  padding: 1em;
  color: #000000;
  background-color: #f5f5f5;

}

.lane-name {
  float: left;
  text-transform: uppercase;
}

.lane-add-note {
  float: left;

  margin-right: 0.5em;
}

.lane-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.lane-header:hover .lane-delete {
  visibility: visible;
}

.add-lane, .lane-add-note button {
  cursor: pointer;

  background-color: #fdfdfd;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #00b2e2;
}

.lane-delete button {
  cursor: pointer;

  background-color: #fdfdfd;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #00b2e2;
}

.notes {
  margin: 0.5em;
  padding-left: 0;

  max-width: 10em;
  list-style: none;
}

.note {
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #ffffff;
  color: #174e7a;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
input {
  padding-left: 10px;
  width: 100%;
  font-size: 12px;
  outline: none;
  border: none;
  color: #000000;
  opacity: 0.8;
  resize: vertical;
  outline: none;
}
.note:hover {
  color: #000000;

  transition: all 0.6s ease;
}

.note .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.note .delete {
  float: right;

  cursor: pointer;

  background-color: #fdfdfd;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #00b2e2;
  visibility: hidden;
}
.note:hover .delete {
  visibility: visible;
}